.tag {
  font-family: 'Public Sans';
  font-style: normal;
  font-weight: 600;
  font-size: 12px;
  line-height: 14px;
  color: var(--ct-white);
  background: var(--ct-dark-blue);
  border-radius: 2px;
  padding: 2px 4px;
}
