.pagination-container {
  padding: 0;
  padding-top: 100px;
  display: flex;
  gap: 18px;

  li {
    font-family: 'Laca';
    font-style: normal;
    font-weight: 600;
    font-size: 25px;
    line-height: 120%;
    color: var(--ct-blue);
    cursor: pointer;
  }

  .pagination-item {
    color: var(--ct-dark-blue);

    &.dots:hover {
      background-color: transparent;
      cursor: default;
    }

    &:hover {
      background-color: rgba(0, 0, 0, 0.04);
      cursor: pointer;
    }

    &.selected {
      background-color: rgba(0, 0, 0, 0.08);
    }

    .arrow {
      &::before {
        content: '';
        position: relative;
        display: inline-block;
        width: 0.4em;
        height: 0.4em;
        border-right: 0.12em solid rgba(0, 0, 0, 0.87);
        border-top: 0.12em solid rgba(0, 0, 0, 0.87);
      }

      &.left {
        transform: rotate(-135deg) translate(-50%);

        &::before {
          left: 3px;
        }
      }

      &.right {
        transform: rotate(45deg);

        &::before {
          bottom: 5px;
        }
      }
    }

    &.disabled {
      pointer-events: none;

      .arrow::before {
        border-right: 0.12em solid rgba(0, 0, 0, 0.43);
        border-top: 0.12em solid rgba(0, 0, 0, 0.43);
      }

      &:hover {
        background-color: transparent;
        cursor: default;
      }
    }
  }
}
