.blog-post-list {
  padding: 100px 0;

  h2 {
    font-family: 'Laca';
    font-style: normal;
    font-weight: 600;
    font-size: 49px;
    line-height: 100%;
    color: var(--ct-dark-blue);
    margin: 59px 0 68px 0;
  }
}
