.component_columns{
  padding:60px 0 80px 0;
  h2{
    font-family: "Laca";
    font-style: normal;
    font-weight: 600;
    font-size: 49px;
    line-height: 100%;
    color: var(--ct-dark-blue);
    margin-bottom: 25px;
    text-align: center;
    padding-bottom:20px;
  }
  h3{
    font-size:25px;
  }
  .icon{
    max-width:70px;
    padding-bottom:15px;
  }
  .intro{
    padding-bottom:30px;
  }
}