.post-content {
  // TODO: Validate correct color?
  background-color: #f8f8f8;

  padding-top: 77px;
  padding-bottom: 170px;

  .content {
    font-family: 'Public Sans';
    font-style: normal;
    font-weight: 400;
    font-size: 20px;
    line-height: 150%;
    color: var(--ct-black);

    ul {
      list-style: disc;
    }

    blockquote {
      float: left;
      font-family: 'Laca';
      font-style: normal;
      font-weight: 600;
      font-size: 35px;
      line-height: 36px;
      color: var(--ct-dark-blue);
      border-left: 11px solid var(--ct-dark-blue);
      padding-left: 30px;
      margin: 1rem 5rem 1.5rem 0;

      p {
        margin: 0;
      }
    }

    .tags {
      display: flex;
      flex-wrap: wrap;
      gap: 10px;

      .tag {
        font-size: 16px;
        padding: 4px 10px;
      }
    }

    .post-content-image {
      margin-top: 3rem;
      margin-bottom: 3rem;

      .image-wrapper {
        display: flex;
        align-items: center;
        justify-content: center;
      }
    }
  }

  .post-related-product-container {
    height: 100%;
    padding-left: 60px;
    border-left: 1px solid #e6e6ee;

    @media screen and (max-width: 991px) {
      padding: 0;
      padding-top: 40px;
      border: none;
      border-top: 1px solid #e6e6ee;
    }
  }
}

@media screen and (max-width:768px) {
  .post-content {
    padding-top: 50px;
    padding-bottom: 50px;

    .content {
      font-size: 16px;
    }
  }
}