.latest-posts-container {
  padding: 82px 0 105px 0;

  .title-section {
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-bottom: 45px;

    .btn {
      padding: 7px 22px;
      font-weight: 500;
      font-size: 16px;
    }
  }

  h2 {
    font-family: 'Laca';
    font-style: normal;
    font-weight: 600;
    font-size: 31px;
    line-height: 120%;
    color: var(--ct-dark-blue);
    margin: 0;
  }

  .tag {
    color: var(--ct-dark-blue);
    background: var(--ct-white);
  }

  .image {
    overflow: hidden;
    border-radius: 20px;

    & > a > div {
      width: 100%;
    }

    img {
      &:hover {
        overflow: hidden;
        transform: scale(1.15);
      }
    }
  }
}
