.latest-posts-container {
  padding: 82px 0 105px 0;

  .title-section {
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-bottom: 45px;
  }

  h2 {
    font-family: 'Laca';
    font-style: normal;
    font-weight: 600;
    font-size: 31px;
    line-height: 120%;
    color: var(--ct-dark-blue);
  }

  .post-card {
    .image {
      margin-bottom: 16px;

      a > div {
        width: 100%;
        border-radius: 10px;
      }
    }

    .metadata {
      margin-bottom: 13.5px;

      .date {
        font-family: 'Public Sans';
        font-style: normal;
        font-weight: 600;
        font-size: 13px;
        line-height: 130%;
        letter-spacing: 0.05em;
        text-transform: uppercase;
        color: var(--ct-gray-dark);
        margin-right: 10px;
      }

      .tags {
        display: inline-flex;
        gap: 10px;

        .tag {
          background: var(--ct-white);
          color: var(--ct-dark-blue);
        }
      }
    }

    h3 {
      font-family: 'Public Sans';
      font-style: normal;
      font-weight: 700;
      font-size: 25px;
      line-height: 130%;
      color: var(--ct-dark-blue);

      &:hover {
        transition: text-decoration 0.3s ease-in-out;
        text-decoration: underline;
      }
    }
  }
}
