.navbar-container {
  position: absolute;
  top: 0;
  width: 100%;
  z-index: 999;

  .navbar {
    height: 89px;
    background: var(--ct-white);
    padding: 31.5px 41px 32.5px 41px;
    box-shadow: 0px 2px 6px rgba(0, 0, 0, 0.2);
    transition: all .3s;
    .navbar-brand>img {
      width: 95%;
    }

    &.home-nav {
      background: transparent;
    }

    &.sticky-nav {
      background: var(--ct-white);
      @media screen and (min-width:991px){

        padding: 10px 41px 10px 41px;
        height:auto;
        .navbar-brand{
          max-width:200px;
        }
        .btn{
          padding:5px 10px;
          font-size:16px;
        }
        .nav-c-group-items .nav-c-item{
          font-size:16px;
        }
      }
    }

    &.expanded {
      box-shadow: none;
    }

    .collapse {
      @media (max-width: 991px) {
        background-color: var(--ct-white);
      }
    }

    #navNav {
      align-items: center;
      justify-content: flex-end;

      ul {
        align-items: center;
      }
    }

    .nav-c-group-items {
      gap: 50px;

      .nav-c-item {
        cursor: pointer;
        font-family: 'Public Sans';
        font-style: normal;
        font-weight: 400;
        font-size: 20px;
        line-height: 150%;
        color: var(--ct-dark-blue);

        span {
          margin-left: 5px;

          img.revert {
            transform: rotate(180deg);
          }

        }

        &.active {
          color: var(--ct-blue);
        }
      }
    }

    @media screen and (max-width: 991px) {
      .navbar {
        padding: 5px 0;

        a.navbar-brand {
          padding-left: 18px;
        }

        button {
          padding-right: 18px;
        }
      }
    }
  }

  &.sticky {
    position: fixed;
    top: 0;
  }

  @media screen and (max-width: 991px) {
    .navbar {
      padding-left: 0;
      padding-right: 0;
      padding-top: 0;
      height: 60px;
      background-color: var(--ct-white) !important;

      .navbar-collapse {
        background-color: var(--ct-pale-gray);
      }

      .navbar-brand {
        padding: 0;
        margin: 0;
        max-width: 228px;

        img {
          padding: 19px;
          width: 100%;
        }
      }

      .show {
        padding: 40px 0 55px 0;
        box-shadow: 0px -1px 4px rgba(0, 0, 0, 0.15);
      }

      .nav-c-group-items {
        gap: 0;

        .nav-c-item {
          padding: 14px 25px;
          display: flex;
          align-items: center;
          justify-content: space-between;
          width: 100%;
          font-size: 18px;

          span>img {
            height: 8px;
          }

          &.active {
            background-color: var(--ct-white);
          }
        }

        .btn-container {
          width: 100%;
          padding: 0 25px;

          .btn {
            font-size: 20px;
            width: inherit;
            margin-top: 40px;
          }
        }
      }

      .navbar-toggler-icon {
        height: 4px;
        background-color: var(--ct-blue);
        position: relative;
        -webkit-transform: rotate(0deg);
        -moz-transform: rotate(0deg);
        -o-transform: rotate(0deg);
        transform: rotate(0deg);
        -webkit-transition: 0.25s ease-in-out;
        -moz-transition: 0.25s ease-in-out;
        -o-transition: 0.25s ease-in-out;
        transition: 0.25s ease-in-out;

        &:before,
        &:after {
          content: '';
          position: absolute;
          height: 4px;
          background-color: var(--ct-blue);
          width: 1.5em;
          left: 0;
          transition: 0.25s ease-in-out;
        }

        &:before {
          top: -10px;
        }

        &:after {
          bottom: -10px;
        }

        &.open-toggle {
          background-color: var(--ct-blue);
          opacity: 1;
          top: 0px;
          height: 4px;
          -webkit-transform: rotate(132deg);
          -moz-transform: rotate(132deg);
          -o-transform: rotate(132deg);
          transform: rotate(132deg);

          &:before {
            opacity: 0;
            right: -60px;
          }

          &:after {
            background-color: var(--ct-blue);
            content: '';
            opacity: 1;
            top: 0px;
            bottom: unset;
            height: 4px;
            -webkit-transform: rotate(-85deg);
            -moz-transform: rotate(-85deg);
            -o-transform: rotate(-85deg);
            transform: rotate(-85deg);
          }
        }
      }
    }
  }
}

.top-message-container+header {
  .navbar-container {
    top: 60px;

    &.sticky {
      top: 0;
    }
  }
}

@media screen and (max-width: 992px) {
  body.scroll-menu {
    overflow: hidden;

    .navbar-collapse {
      overflow: scroll;
      overflow-x: hidden;
      height: 100vh;
      padding-bottom: 8rem !important;

      .mega-menu {
        box-shadow: none;
      }
    }
  }
}