.navbar-container {
  position: fixed;
  top: 0;
  width: 100%;
  z-index: 999;
}

.navbar {
  min-height: 90px;
  background: var(--ct-white);
  padding: 31.5px 41px 32.5px 41px;
  box-shadow: 0px 2px 6px rgba(0, 0, 0, 0.2);

  .navbar-brand > img {
    width: 95%;
  }

  &.home-nav {
    background: transparent;
  }

  &.sticky-nav {
    background: var(--ct-white);
  }

  .collapse {
    @media (max-width: 991px) {
      background-color: var(--ct-white);
    }
  }

  #navNav {
    align-items: center;
    justify-content: flex-end;

    ul {
      align-items: center;
    }
  }

  .nav-c-group-items {
    gap: 50px;

    .nav-c-item {
      cursor: pointer;
      font-family: 'Public Sans';
      font-style: normal;
      font-weight: 400;
      font-size: 20px;
      line-height: 150%;
      color: var(--ct-dark-blue);

      span {
        margin-left: 5px;
      }

      &.active {
        color: var(--ct-blue);
      }
    }
  }
}

// Check this...
span.navbar-toggler-icon {
  height: 4px;
  background-color: #001e61;
  position: relative;
  -webkit-transform: rotate(0deg);
  -moz-transform: rotate(0deg);
  -o-transform: rotate(0deg);
  transform: rotate(0deg);
  -webkit-transition: 0.25s ease-in-out;
  -moz-transition: 0.25s ease-in-out;
  -o-transition: 0.25s ease-in-out;
  transition: 0.25s ease-in-out;
  &:before,
  &:after {
    content: '';
    position: absolute;
    height: 4px;
    background-color: #001e61;
    width: 1.5em;
    left: 0;
    transition: 0.25s ease-in-out;
  }
  &:before {
    top: -10px;
  }
  &:after {
    bottom: -10px;
  }
  &.open-toggle {
    background-color: #ffff;
    opacity: 1;
    top: 0px;
    height: 4px;
    -webkit-transform: rotate(132deg);
    -moz-transform: rotate(132deg);
    -o-transform: rotate(132deg);
    transform: rotate(132deg);
    &:before {
      opacity: 0;
      right: -60px;
    }
    &:after {
      background-color: #ffff;
      content: '';
      opacity: 1;
      top: 0px;
      bottom: unset;
      height: 4px;
      -webkit-transform: rotate(-85deg);
      -moz-transform: rotate(-85deg);
      -o-transform: rotate(-85deg);
      transform: rotate(-85deg);
    }
  }
}

@media screen and (max-width: 991px) {
  .navbar {
    padding: 5px 0;
    a.navbar-brand {
      padding-left: 18px;
    }
    button {
      padding-right: 18px;
    }
  }
}

.top-message-container + header {
  .navbar-container {
    position: absolute;
    top: 44px;

    .navbar {
      &.sticky-nav {
        position: fixed;
        width: 100%;
        top: 0;
      }
    }
  }
}
