.top-message-container {
  min-height: 60px;
  padding: 9px 102px;
  color: var(--ct-dark-blue);
  background-color: #f9dd87;
  position: relative;

  display: flex;
  align-items: center;
  justify-content: center;

  @media (max-width: 700px) {
    padding: 5px;
    padding-right: 1rem;
  }

  .information {
    display: flex;
    align-items: center;

    span {
      margin-left: 10px;
      font-family: 'Public Sans';
      font-style: normal;
      font-weight: 500;
      font-size: 16px;
      line-height: 150%;
    }
  }

  .close-btn {
    position: absolute;
    top: 15px;
    right: 15px;
    cursor: pointer;

    @media screen and (max-width:530px) {
      position: unset;
      padding-left: 20px;
    }
  }
}