.hero {
  min-height: 100vh;
  background-color: rgba(112, 212, 252, 0.2);

  h1 {
    font-family: "Laca";
    font-style: normal;
    font-weight: 700;
    font-size: 61px;
    line-height: 100%;
    color: var(--ct-dark-blue);
    margin-bottom: 31px;
  }

  span {
    font-family: "Public Sans";
    font-style: normal;
    font-weight: 400;
    font-size: 20px;
    line-height: 150%;
    color: var(--ct-dark-blue);
  }

  .ctas-block {
    margin-top: 31px;
    display: flex;
    gap: 31px;
  }

  .shortcuts-container {
    h4 {
      font-family: "Public Sans";
      font-style: normal;
      font-weight: 700;
      font-size: 16px;
      line-height: 150%;
      letter-spacing: 0.05em;
      color: var(--ct-dark-blue);
      margin-bottom: 25px;
    }
  }
}
