.hero {
  min-height: 100vh;
  padding-top: 100px;
  padding-bottom: 46px;
  background-color: rgba(112, 212, 252, 0.2);

  .component-narrative-block {
    h1 {
      font-size: 61px;
    }
  }

  span {
    display: block;
    font-family: 'Public Sans';
    font-style: normal;
    font-weight: 400;
    font-size: 20px;
    line-height: 150%;
    color: var(--ct-dark-blue);
    margin-bottom: 30px;
  }

  .ctas-block {
    display: flex;
    gap: 31px;
  }

  .shortcuts-container {
    h3 {
      font-family: 'Public Sans';
      font-style: normal;
      font-weight: 700;
      font-size: 16px;
      line-height: 150%;
      letter-spacing: 0.05em;
      color: var(--ct-dark-blue);
      margin-bottom: 25px;
      text-transform: uppercase;
    }
  }

  @media screen and (max-width: 991px) {
    padding-top: 50px;
    padding-bottom: 10px;
  }
}