.grid-stats {
  padding: 40px 0 120px 0;

  h2 {
    font-family: 'Laca';
    font-style: normal;
    font-weight: 600;
    font-size: 39px;
    line-height: 120%;
    text-align: center;
    color: var(--ct-dark-blue);
    margin-bottom: 90px;
  }

  .stat-item {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;

    .stat-image {
      display: flex;
      align-items: center;
      justify-content: center;
      border-radius: 50%;
      background-color: var(--ct-dark-blue);
      margin-bottom: 35px;
    }

    .stat-image.sm-img {
      width: 102px;
      height: 102px;
    }

    .stat-image.lg-img {
      width: 152px;
      height: 152px;
    }

    h3 {
      font-family: 'Laca';
      font-style: normal;
      color: var(--ct-dark-blue);
      margin-bottom: 13px;
    }

    .sm-title {
      font-weight: 600;
      font-size: 49px;
      line-height: 100%;
    }

    .lg-title {
      font-weight: 700;
      font-size: 61px;
      line-height: 100%;
    }

    span {
      font-family: 'Public Sans';
      font-style: normal;
      color: var(--ct-dark-blue);
    }

    .sm-text {
      font-weight: 400;
      font-size: 20px;
      line-height: 150%;
    }

    .lg-text {
      font-weight: 500;
      font-size: 25px;
      line-height: 130%;
    }
  }
}
