.mega-menu-card {
  .meta {
    font-family: 'Public Sans';
    font-style: normal;
    font-weight: 600;
    font-size: 13px;
    line-height: 130%;
    letter-spacing: 0.05em;
    text-transform: uppercase;
    color: var(--ct-dark-blue);
    margin-bottom: 10px;
  }

  h2 {
    font-family: 'Public Sans';
    font-style: normal;
    font-weight: 700;
    font-size: 25px;
    line-height: 130%;
    color: var(--ct-blue);
    margin-bottom: 17px;
  }

  .image-wrapper {
    height: 180px;
    margin-bottom: 16px;

    img {
      height: 100%;
    }
  }

  .description {
    font-family: 'Public Sans';
    font-style: normal;
    font-weight: 500;
    font-size: 16px;
    line-height: 150%;
    color: var(--ct-dark-blue);
  }
}
