.related-products-tab {
  padding-top: 138px;
  padding-bottom: 100px;

  h2 {
    font-family: 'Laca';
    font-style: normal;
    font-weight: 700;
    font-size: 61px;
    line-height: 100%;
    color: var(--ct-dark-blue);
    margin-bottom: 25px;
  }

  .description {
    font-family: 'Public Sans';
    font-style: normal;
    font-weight: 400;
    font-size: 20px;
    line-height: 150%;
    color: var(--ct-dark-blue);
    margin-bottom: 100px;
  }

  .products {
    span {
      display: inline-block;
      font-family: 'Public Sans';
      font-style: normal;
      font-weight: 700;
      font-size: 16px;
      line-height: 150%;
      letter-spacing: 0.05em;
      text-transform: uppercase;
      color: var(--ct-dark-blue);
      margin-bottom: 70px;
    }
  }
}
