.tabs {
  padding: 130px 0 150px 0;

  &.light-blue,
  &.light-red,
  &.light-yellow {
    .titles {
      > div:not(.active) {
        color: var(--ct-gray-dark);
        border-color: var(--ct-gray-dark);
      }
    }
  }
}
