.tabs {
  padding: 130px 0 150px 0;

  &.pale-blue,
  &.pale-red,
  &.pale-yellow {
    .titles {
      > div:not(.active) {
        color: var(--ct-dark-gray);
        border-color: var(--ct-dark-gray);
      }
    }
  }
}
