.blog-post-card {
  h3 {
    font-family: 'Public Sans';
    font-style: normal;
    font-weight: 700;
    font-size: 25px;
    line-height: 130%;
    color: var(--ct-dark-blue);
    text-decoration: underline rgba(0, 0, 0, 0);
    transition: text-decoration-color 300ms;

    &:hover {
      text-decoration-color: var(--ct-dark-blue);
    }
  }

  .image {
    div {
      width: 100%;
    }

    img {
      width: 100%;
      &:hover {
        transition: all 0.3s ease-in-out;
        transform: scale(1.15);
      }
    }
  }

  .meta {
    margin: 20px 0 13.5px 0;
    display: flex;
    gap: 14px;
    align-items: center;

    .date {
      font-family: 'Public Sans';
      font-style: normal;
      font-weight: 600;
      font-size: 13px;
      line-height: 130%;
      letter-spacing: 0.05em;
      text-transform: uppercase;
      color: var(--ct-dark-gray);
    }

    .tags {
      display: flex;
      gap: 10px;
    }
  }
}
