.tab-case-study-item {
  min-height: 450px;
  padding: 60px 0 0 0;

  h4 {
    font-family: 'Public Sans';
    font-style: normal;
    font-weight: 700;
    font-size: 16px;
    line-height: 150%;
    letter-spacing: 0.05em;
    color: var(--ct-dark-blue);
    text-transform: uppercase;
    margin-bottom: 25px;
  }

  h2 {
    font-family: 'Laca';
    font-style: normal;
    font-weight: 600;
    font-size: 49px;
    line-height: 100%;
    color: var(--ct-dark-blue);
    margin-bottom: 25px;
  }

  p {
    font-family: 'Public Sans';
    font-style: normal;
    font-weight: 400;
    font-size: 20px;
    line-height: 150%;
    color: var(--ct-dark-blue);
    margin-bottom: 35px;
  }

  img {
    border-radius: 10px;
  }
}

@media screen and (max-width:768px) {
  .tab-case-study-item {
    padding-top: 0;

    h2 {
      font-size: 32px;
    }

    h4 {
      font-size: 14px;
      margin-bottom: 10px;
    }

    p {
      font-size: 16px;
    }
  }
}