.post-content {
  padding-top: 77px;
  padding-bottom: 170px;

  .content {
    font-family: 'Public Sans';
    font-style: normal;
    font-weight: 400;
    font-size: 20px;
    line-height: 150%;
    color: var(--ct-black);

    ul {
      list-style: disc;
    }

    blockquote {
      left: -130px;
      float: left;
      position: relative;
      font-family: 'Laca';
      font-style: normal;
      font-weight: 600;
      font-size: 39px;
      line-height: 120%;
      color: var(--ct-dark-blue);
      border-left: 11px solid var(--ct-dark-blue);
      padding-left: 30px;

      p {
        margin: 0;
      }

      @media screen and (max-width: 1070px) {
        left: 0;
        float: none;
      }
    }

    .tags {
      display: flex;
      gap: 10px;
    }
  }

  .related-products {
    h3 {
      font-family: 'Public Sans';
      font-style: normal;
      font-weight: 600;
      font-size: 13px;
      line-height: 130%;
      letter-spacing: 0.05em;
      text-transform: uppercase;
      color: var(--ct-dark-blue);
    }
  }
}
