.hero-single-product {
  .component-narrative-block {
    padding-top: 50px;

    h1 {
      font-weight: 700;
      font-size: 61px;
      line-height: 100%;
    }
  }

  .login-product {
    padding: 10px 41px;
    background-color: var(--ct-dark-blue);

    font-family: 'Public Sans';
    font-style: normal;
    font-weight: 700;
    font-size: 20px;
    line-height: 150%;

    span {
      display: inline-block;
      color: var(--ct-white);
      margin-right: 10px;
    }

    a {
      color: var(--ct-light-blue);

      img {
        margin-left: 6px;
      }
    }
  }
}

.hero-single-product+.component-narrative-block {
  padding-top: 50px;
}

header+main {
  .hero-single-product {
    padding-top: 89px;
  }
}

@media screen and (max-width: 992px) {
  header+main {
    .hero-single-product {
      padding-top: 60px;
    }
  }

  .hero-single-product {
    .component-narrative-block {
      h1 {
        font-size: 40px;
      }
    }
  }
}